.borde {
    border: 1px solid black;
}

.borde2 {
    border: 3px groove black;
    border-radius: 10px;
    min-height: 100px;
}

.outline {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid blue;
    outline-offset: 5px;
}

.margin_10{
    margin: 10px;
}

.padding_10{
    padding: 10px;
}


.display_inline{
    display: inline;
}

.display_block{
    display: block;
}

.display_grid{
    display: grid;
}

.display_flex{
    display: flex;
}

.bloque_display{
    margin: 5px;
    border: 2px solid blue;
}    
