.borde {
    border: 1px solid black;
}

.borde2 {
    border: 3px groove black;
    border-radius: 10px;
    min-height: 100px;
}

.outline {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid blue;
    outline-offset: 5px;
}

.margin_10{
    margin: 10px;
}

.padding_10{
    padding: 10px;
}

.filas{
    flex-direction: row;
}    

.size1{
    max-width: 200px;
    height: 50px;
    overflow: auto;
    flex-direction: row;
}

.size2{
    max-width: 200px;
    height: 100px;
    overflow: auto;
    flex-direction: row;
}